/*Login Page */
body {
  display: table;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
/*hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}*/
#result{
  padding: 20px;
  
}
  hr {

    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0;

}
.row {
  display: table-row;
  height: 50%;
}

.row:nth-child(1) {
  background-color: #eee;
}

.row:nth-child(2) {
  background-color: #ddd;
}

.row:nth-child(3) {
  background-color: #eee;
}

.row:nth-child(4) {
  background-color: #ddd;
}

.fullwidth {
	width: 100%;
	margin: 0;
	display: block;
	text-align: center;
}
label {
/* Uniform size & alignment */
display: inline-block;
width: 100%;
text-align: left;
}
/*

  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border: 1px solid #CCC;

}*/
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.delbutton {
  background-color: #f44336;
  } /* Red */
  /*background-colsor: red; */
  body{background-color: powderblue;}
  h1   {color: blue;}
  p    {color: red;}
/*button {
	display: block;
	width: 100%;
	height: 100%;
	border: 1px;
	background-color: blue;
	font-size: 25%;
	text-align: center;
	color: white;
}*/
