
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("img/indexbackground.jpg");

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

.indexh1 {
 padding-top: 20%;
 text-align:center;
 color: white;
}

.indexp {
 padding-top: 1%;
 text-align:center;
 color: white;
}

.login {
  padding-top: 5%;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login a {
  background-color:#4287f5;
  padding:8px;
  margin-top:7px;
  display:block;
  color:black;
  width: 60%;
  height: 20%;
}

.signup {
  padding-top: 2%;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.signup a {
  background-color:#4287f5;
  padding:8px;
  margin-top:0px;
  display:block;
  color:black;
  width: 60%;
  height: 20%;
}

form {
  float: right;
  padding-right: 650%;
  padding-top: 160%;
}

.menu {
  float: right;
  width:20%;
  padding-left: 90%;
  text-align:center;
}
.menu a {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
  width: 30px;
  height: 120px;

}
.main {
  float:right;
  width:60%;
  padding-left: 14px;
  padding-right: 70px;
  font-size: 25px;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}

*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #f1f3f4;
  font-family: sans-serif;
}

.header {
  background-color: #3FA9FF;
  padding: 20px;
  text-align: center;
  margin: 0px 250px;
}

.menu-bar :hover{
  background-color: #3da3f5;

}
.top-nav-bar{
  background-color: #3FA9FF;
  height: 57px;
  top: 0;
  position: sticky;
  border-bottom: 3px solid #4EAFD0;
  z-index: 2;
}
.logo{
  height: 40px;
  margin: 5px 10px;
}
.form-control{
  margin-top: 9px;
  margin-left: 30px;
  border: 1px solid #4EAFD0 ! important;
  border-top-left-radius: 20px ! important;
  border-bottom-left-radius: 20px! important;
  border-top-right-radius: 0 ! important;
  border-bottom-right-radius: 0 ! important;
  box-shadow: none ! important;
}
.input-group-text{
  background: #4EAFD0;
  border: 5px solid #4EAFD0 ! important;
  margin: 8.5px 10px 3px 0 ! important;
  border-top-left-radius: 0px ! important;
  border-bottom-left-radius: 0px ! important;
  border-top-right-radius: 20px ! important;
  border-bottom-right-radius: 20px ! important;
  cursor: pointer;
}
.search-box{

  display: inline-flex;
  width: 60%;
  margin-left: 0%;
  margin-top: 0%;
}
fa-search{
  color: #fff;
}
.menu-bar{
  width: 40%;
  height: 57px;
  float: left;
}
.menu-bar ul{
  display: inline-flex;
  float: left;
}
.menu-bar ul li{
  border-left: 1px solid #fff;
  list-style-type: none;
  padding: 15px 35px;
  text-align: center;
  background-color: #3FA9FF;
  cursor: pointer;
}
.menu-bar ul li a{
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.fa-shopping-basket{
margin-right: 5px;
}
@media only screen and (max-width: 980px)
{
  .top-nav-bar
  {
    height: 118px;
    border-bottom: 1%;
  }
  .search-box
  {
    width: 100%;
  }
  .menu-bar
  {
    width: 100%;
  }
  .menu-bar ul
  {
    margin: 10px 0;
    width: 100%;
  }
  .menu-bar ul li
  {
    height: 57px;
    width: 100%;
  }
}
.container{
  width: 100%;
  margin-top: 10px;
  font-family: sans-serif;
  letter-spacing: 1px;
}
.container h2{
  background: #0062cc;
  color: #fff;
  width:280px;
  height: 40px;
  font-size: 24px;
  padding: 5px;
  margin-top: 0;

}
.container h2::after
{
  content: '';
  border-top: 40px solid #0062cc;
  border-right: 40px solid transparent;
  position: relative;
  left: 62px;
  top: 34px;
}
.row{
  margin-top: 30px;
}
.container img{
  max-width: 30em;
  height: 300px;
}
.product-bottom .fa{
  color: #696969;
  font-size: 10px;
}
.product-bottom h3{
  color: #006400;
  font-size: 20px;
  font-weight: bold;
}
.product-bottom h5{
  font-size: 15px;
  font-weight: bold;
  color: #008080;
}
.overlay{
  display: block;
  opacity: 1;
  position: absolute;
  top: 10%;
  margin-left: 0%;
  width: 70px;
}

input[type=checkbox] {
    transform: scale(3.5);
}
.overlay .fa{
  cursor: pointer;
  background-color: #000000;
  color: #00BFFF;
  height: 35px;
  width: 35px;
  font-size: 20px;
  padding: 7px;
  margin: 5%;
  margin-bottom: 10%;
}
.social_icon{
  cursor: pointer;
  width: 50%;
  height: 35px;
  padding: 7px;
  margin: 5%;
  margin-bottom: 0%;
}
.icon img{
  margin-top: 5px;
  margin-bottom: 0px;
  width: 35px;
  height: 32px;
}
.icon{
  padding-top: 0px;
  padding-left: 35%;
}
/* Add a black background color to the top navigation */

/* Style the links inside the navigation bar */

.filterDiv {
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: inline-grid;

}


.filterDiv {

  width: 550px;
  line-height: 100px;
  text-align: center;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  overflow: hidden;
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}

.graph{
  max-width: 80%;


}

workouts{
  text-align: center;
}

#picture{
  padding-top: 1px;
  width:100%;
  height:300px;
}


.btn-group button {
  background-color: #3FA9FF;
  border: 1px #4EAFD0;
  color: white; /* White text */
  padding: 40px 50px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: center; /* Float the buttons side by side */
  margin: 60px 40px;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3da3f5;
}

.warmuplist {
  padding-left: 8%;
  padding-top: 2%;
}
/* Image 1 */
.imageone {
  background:url(./img/treadmill.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: white; /* White text */
  padding: 12.5% 20%; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.imageone:hover {
  background-color: black;
  opacity: 0.5;
  color: white;
}

.imagetwo {
  background:url(./img/stretches.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: white; /* White text */
  padding: 12.5% 20%; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.imagetwo:hover {
  background-color: black;
  opacity: 0.5;
  color: white;
}

.imagethree {
  background:url(./img/pushups.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: white; /* White text */
  padding: 12.5% 20%; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.imagethree:hover {
  background-color: black;
  opacity: 0.5;
  color: white;
}
.textone {
  background-color: transparent;
  border: transparent;
  color: black; /* White text */
  padding: 10.5% 10%;/* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.footer {
margin-top: 100px;
background-color: #3FA9FF;
}

.footer h4 {
color: #fff;
padding: 15px;
margin-bottom: -10px;
margin-top: -10px;
text-align: center;
}
/* Home page button navigation */
.home-group button {
  color:#007bff;
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  height: 180px;
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.workoutbutton{
  background:url(./img/workoutbutton.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: white; /* White text */
  padding: 12.5% 20%; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-size: 1.5em
}

.warmupbutton{
  background:url(./img/warmupbutton.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: white; /* White text */
  padding: 12.5% 20%; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-size: 1.5em
}

.warmupbutton2 {
  background-color: #3FA9FF;
  color: white;
  position: center;
}

.warmupbuttontext {
  color: white;
}

.userinfobutton{
  background:url(./img/userinfobutton.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: white; /* White text */
  padding: 12.5% 20%; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-size: 1.5em
}

.logoutbutton{
  background:url(./img/logoutbutton.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: white; /* White text */
  padding: 12.5% 20%; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-size: 1.5em
}

.home-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.home-group button:hover {
  background-color: black;
  opacity: 0.5;
  color:#007bff;

}
