
#myBtnContainer{
  display: none;
}
  #myBtnContainer2{
    display: none;
}
#myBtnContainer3{
  display: none;
}
.alert{
  text-aligh: center;
  padding: 10px;
  background: #79c879;
  color: #fff;
  margin-bottom: 10px;
  display: none;
}
#demo{
  text-aligh: center;
  padding: 10px;
  background: #79c879;
  color: #fff;
  margin-bottom: 10px;
  display: none;

}
